.detailContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  height: auto;
}

.price {
  font-weight: bold;
  font-size: 1rem;
  padding: 25px;
}

.stock {
  padding: 40px;
  font-weight: bold;
}

.btn-buy {
  max-width: 110px;
  height: 30px;
  color: #fff;
  margin: 30px;
  margin-left: 142px;
  padding: 5px 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3a86ff;
}

.btn-buy:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.btn-buy:hover:after {
  opacity: 1;
  right: 10px;
}

.btn-buy:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.btn4 {
  min-width: 150px;
  height: 40px;
  color: #fff;
  margin: 20px;
  margin-left: 140px;
  padding: 5px 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3a86ff;
}

.btn4:hover {
  border-radius: 5px;
  padding-right: 14px;
  padding-left: 8px;
}

.btn4:hover:after {
  opacity: 1;
  right: 10px;
}

.btn4:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

@media (max-width: 576px) and (min-width: 300px) {
  .detailContainer,
  .price,
  .stock,
  .btn4 {
    max-width: 90%;
    font-size: 14px;
  }
  .btn4 {
    margin-left: 90px;
  }
}
